@charset "utf-8";
/* CSS Document */
/* OpenSans Fonts Family Apply*/

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf')  format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf')  format('truetype'), url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{font-family: 'OpenSans'; background:url(../images/09ad59ce71ae4243bc54251181afab81.png) repeat;}

/* All Margin */


.mrgt-5p{margin-top:5px !important;}
.mrgt-10p{margin-top:10px !important;}
.mrgt-15p{margin-top:15px !important;}
.mrgt-20p{margin-top:20px !important;}
.mrgt-25p{margin-top:25px !important;}
.mrgt-30p{margin-top:30px !important;}
.mrgt-35p{margin-top:35px !important;}
.mrgt-40p{margin-top:40px !important;}
.mrgt-45p{margin-top:45px !important;}
.mrgt-50p{margin-top:50px !important;}
.mrgt-55p{margin-top:55px !important;}
.mrgt-60p{margin-top:60px !important;}

.mrgb-5p{ margin-bottom:5px !important;}
.mrgb-10p{ margin-bottom:10px !important;}
.mrgb-15p{ margin-bottom:15px !important;}
.mrgb-20p{ margin-bottom:20px !important;}
.mrgb-25p{ margin-bottom:25px !important;}
.mrgb-30p{ margin-bottom:30px !important;}
.mrgb-35p{ margin-bottom:35px !important;}
.mrgb-40p{ margin-bottom:40px !important;}
.mrgb-45p{ margin-bottom:45px !important;}
.mrgb-50p{ margin-bottom:50px !important;}
.mrgb-55p{ margin-bottom:55px !important;}
.mrgb-60p{ margin-bottom:60px !important;}
.mrgb-65p{ margin-bottom:65px !important;}
.mrgb-70p{ margin-bottom:70px !important;}

.mrgl-5p{ margin-left:5px !important;}
.mrgl-10p{ margin-left:10px !important;}
.mrgl-15p{ margin-left:15px !important;}
.mrgl-20p{ margin-left:20px !important;}
.mrgl-25p{ margin-left:25px !important;}
.mrgl-30p{ margin-left:30px !important;}
.mrgl-35p{ margin-left:35px !important;}
.mrgl-40p{ margin-left:40px !important;}
.mrgl-45p{ margin-left:45px !important;}
.mrgl-50p{ margin-left:50px !important;}

.mrgr-5p{margin-right:5px !important;}
.mrgr-10p{margin-right:10px !important;}
.mrgr-15p{margin-right:15px !important;}
.mrgr-20p{margin-right:20px !important;}
.mrgr-25p{margin-right:25px !important;}
.mrgr-30p{margin-right:30px !important;}
.mrgr-35p{margin-right:35px !important;}
.mrgr-40p{margin-right:40px !important;}
.mrgr-45p{margin-right:45px !important;}
.mrgr-50p{margin-right:50px !important;}


.display-none{display:none;}

 
 .borderNone{border:none !important;}
 .border-left{border-left:1px solid #CCC; height:250px;}
 .fl-r{float:right;}
 .fl-l{float: left;}
 .clear{clear:both;}
 
 .no-mrgpad{margin:0px; padding:0px;}

 
 /* website fonts color */
 
 .text-white{color:#FFF;}
 .text-red{color:#ef3e24;}
 .text-bold{ font-weight:bold;    text-transform: uppercase;}
 
 /* website background color */
 
 .bg-white{background:#FFF !important;}
 .bg-red{background:#ef3e24 !important;}
 .bg-darkred{background:#800001 !important;}
 .bg-black{background:#000 !important;}
 
 
 
 /* slider css start here */

#example3 ul {list-style:none;}
			#example3 h3 {color:#fff;text-transform:uppercase;font-size:24px;}
			#example3 p {color:#fff;}
			#example3 .frame-1 {background: url(../images/slide/slide1.gif) top left repeat;}
			#example3 .frame-2 {background: url(../images/slide/slide2.gif) top left repeat;}
			#example3 .frame-3 {background: url(../images/slide/slide3.gif) top left repeat;}
			#example3 .frame-4 {background: url(../images/slide/slide4.gif) top left repeat;}
			#example3 .frame-content {width:100%;padding:100px 120px;}
			#example3 .frame-closed .frame-content {display:none;}
			#example3 .frame-open .frame-content {display:block;}

.wrapper{width:100%;float:left;}
.header{width:100%;float:left; background:#000000; min-height:47px;}
.container{width:1170px;margin:0 auto;max-width:100%;}
.header-logo {float:left; margin:10px auto 0;}
.header-logo img{max-width:100%;height: auto; margin-top:-5px;}
.header-menu{float:right;}
.header-menu .menu-bar{float:right;}
.header-menu .menu-bar ul{margin:0; padding:0;}
.header-menu .menu-bar ul li{display:inline-block; margin-left:11px; margin:18px auto 0;  font-size:14px;   line-height:1;text-transform:uppercase; font-family: 'OpenSans';}
.header-menu .menu-bar ul li:last-child{border-right:none;}
.header-menu .menu-bar ul li a{color:#fff;  text-decoration:;underline;padding: 5px 23px;}
.header-menu .menu-bar ul li a.active{color:#f74d16;text-decoration:;underline;}
.header-menu .menu-bar ul li a:hover{color:#f74d16;}
.banner{width:100%; float:left; margin:0 auto;}
.banner img{max-width:100%; float:left; width:100%;}
.welcome-text{width:100%; float:left; text-align:center; margin:55px auto 0; }
.welcome-text h1{font-size:35px;text-align:center; color:#2f2e2e; font-family: 'OpenSans-Light'!important;}
.welcome-text p{font-size:17px;text-align:center; color:#2f2e2e;}

.gradint{
    height: 1px;
    background: -webkit-linear-gradient(left, white, gray, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left,  white, gray, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, white, gray, white); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, white, gray, white); /* Standard syntax (must be last) */
}
.redmore-button a{border-radius:5px; border:solid #bbb8b8 1px; padding-top:16px; padding-bottom:16px; text-decoration:none; 
text-align:center; width:268px; margin:40px auto 0px; display:block; color:#2f2e2e; font-size:25px;}
.redmore-button a:hover{text-decoration:none; border:1px solid #f03e24; color:#f03e24;}
.whts-heading{float:left; margin:65px auto 0;}
.whts-heading h1{font-size:35px;text-align:center; color:#2f2e2e;  font-family: 'OpenSans-Light'!important;}
.whats-new{float:left;}
.whats-new img{width:100%;max-width:100%;float:left; border:solid #bbb8b8 1px; margin:7px auto 30px;}

.whats-new h2{text-align:left; font-size:25px;}
.whats-new p{font-size:14px;color:#2f2e2e; line-height:20px; text-align:left;display:inline-block;height:104px;}

.footer{margin-top:95px; padding:0;float:left; padding:0; background:#36404b; width:100%;}
.ftr-cntnt{margin:0; padding:0;width:100%;}
.social-sectn{float:left; margin:31px auto; padding:0; text-align:left;}
.social-sectn small{color:#fff; font-size:20px;font-family: Tahoma, Verdana, Segoe, sans-serif; }
.social-sectn ul{margin:40px auto; padding:0;}
.social-sectn ul li{list-style:none; color:#c6cfd9; margin-bottom:10px;}
.social-sectn ul li a{color:#c6cfd9; text-decoration:none;}
.social-sectn ul li a:hover{color:#f74d16; text-decoration:none;}
.social-sectn ul li img{ margin-right:15px; max-width:100%; margin-bottom:6px;float:left; }
.ftr-bottom{border-top: solid #434f5d 1px;float:left; width:100%; margin:0; padding:0;}
.footer-sction{margin:20px 0!important; padding:0; }
.copyright{float:left; margin:0;}
.copyright span {color:#c6cfd9; font-size:12px;font-family: Tahoma, Verdana, Segoe, sans-serif;}
.copyright span a {color:#c6cfd9; text-decoration:none;}
.copyright span a:hover{color:#f74d16; text-decoration:none;}
.ftr-menu{float:right; margin:0;}
.ftr-menu ul{margin:0; padding:0; }
.ftr-menu ul li{float:left; list-style:none; font-size:13px;font-family: Tahoma, Verdana, Segoe, sans-serif;color:#fff; margin-left:11px;border-right:solid #fff 1px; line-height:15px; padding:0 8px 0 0;}
.ftr-menu ul li a{color:#c6cfd9;  }
.ftr-menu ul li a:hover{color:#f74d16;  }
.ftr-menu ul li:last-child{border-right:none!important; margin-right:0!important;}
.ftr-menu ul li a:active, a:hover{background:none; text-decoration:underline;}
.our-facility{margin:0; padding:0; float:left; margin-top:33px;}
.srvcs-sec{float:left; padding:0; margin:0;}
.servcs-sec1 {float: right;padding: 0; margin:0}
.srvcs-sec span{color:#36404b;font-size:25px;font-family: Tahoma, Verdana, Segoe, sans-serif; display:block; }
.srvcs-sec small{color:#f84308;font-size:15px;font-family: Tahoma, Verdana, Segoe, sans-serif; display:block; margin-top:11px; }
.srvcs-sec p{color:#585655;font-size:13px;font-family: Tahoma, Verdana, Segoe, sans-serif; display:block; margin-top:15px; text-align:justify; line-height:30px;width:80%;}
.row{margin:0;}
.border-services{float:left; border:solid #ccc 1px;width:47%; padding:15px; box-sizing:border-box;height:103px;}
.border-services1{float:right; border:solid #ccc 1px;width:47%; padding:15px; box-sizing:border-box; margin-bottom:44px;height:103px;}
.border-services img{max-width:100%; float:left;margin-right:25px;}
.border-services1 img{max-width:100%; float:left; margin-right:25px;}
.border-services span{color:#36404b;font-size:17px;font-family: Tahoma, Verdana, Segoe, sans-serif; line-height:17px;}
.border-services p{color:#36404b;font-size:14px;font-family: Tahoma, Verdana, Segoe, sans-serif; display:inline-block; margin-top:27px;}
img.right-slide { margin-top: 20px;float: right; margin-right: -15px;}
.border-services1 span{color:#36404b;font-size:17px;font-family: Tahoma, Verdana, Segoe, sans-serif; line-height:17px;}
.border-services1 p{color:#36404b;font-size:14px;font-family: Tahoma, Verdana, Segoe, sans-serif; display:inline-block; margin-top:27px;}
img.right-slide { margin-top: 20px;float: right; margin-right: -15px;}
.social-sectn p {width: 85%;color:#c6cfd9;font-size: 13px;line-height: 20px;text-align: justify;margin: 12px 0; font-family: Tahoma, Verdana, Segoe, sans-serif;}
.whts-heading{float: left; margin-bottom: 50px; width:100%;}
.micrologic-home{float:left; pisition:relative;margin:100px auto 0;}
.micrologic-home img{max-width:100%;float:left; border:none; margin:7px auto 30px;}
.micrologic-home h2{font-size:18px;color:#010101;min-height:40px;}
.read-logic a{border-radius:5px; border:solid #bbb8b8 1px; padding-top:12px; padding-bottom:12px; text-decoration:none; 
text-align:center; width:250px; margin:40px auto 0px; display:block; color:#2f2e2e; font-size:20px;}
.read-logic a:hover{text-decoration:none; border:1px solid #f03e24; color:#f03e24;}

/* All website Icon start here */
 
.app-icon{position:absolute; background:url(../images/Mapp.png);     left: -42px;
    top: 9px;
    float: left;
    width: 48px;
    height: 48px;}
		
.web-dev{position:absolute; background:url(../images/Wdesign.png);left: -42px;
    top: 9px;
    float: left;
    width: 48px;
    height: 48px;}
.web-design{position:absolute; background:url(../images/Sdev.png);left: -42px;
    top: 9px;
    float: left;
    width: 48px;
    height: 48px;}
	
	.PhoneIcon{position: absolute;
    background: url(../images/phoneIcon.png);
    left: -4px;
    top: 9px;
    float: left;
    width: 32px;
    height: 32px;}
	
	.AddIcon{position: absolute;
    background: url(../images/addIcon.png);
    left: -4px;
    top: 9px;
    float: left;
    width: 32px;
    height: 32px;}
	
	.MailIcon{position: absolute;
    background: url(../images/mailIcon.png);
    left: -4px;
    top: 9px;
    float: left;
    width: 32px;
    height: 32px;}
	
.fb-icon{width:35px; height:35px; background: url(../images/top-social-icon.png) 0 0 no-repeat;}	
	
.micrologic-home ul{margin:0; padding:0px 20px;float:left;}
.micrologic-home ul li{margin-top:5px; text-align:left; list-style:square;}
.micrologic-home ul li a{color:#767474; text-decoration:none;}
.micrologic-home ul li a:hover{color:#f03e24;}
.copyright small{color:#f74d16; font-size:13px;font-family: Tahoma, Verdana, Segoe, sans-serif;} 
.slicknav_menu{display:none;}
.header-social{ float: right!important;width: auto!important;}
.header-social ul{margin:0; padding:0;}
.header-social ul li{margin-left: 14px;
    margin: 18px auto 0;
    font-size: 14px; display:inline-block;}
.header-social ul li i{margin-left: 18px; color:#868686;}
.header-social ul li i:hover{color:#ef3e24;}
.banner-arrow{ padding-top:250px; box-sizing:border-box;}
.micrologic-home p {color: #767474; font-size: 13px;font-family: Tahoma, Verdana, Segoe, sans-serif; text-align: justify; width: 85%; line-height: 20px;
    min-height: 150px;}


/* Responsive CSS*/

@media only screen and (max-width: 1199px) {

	.header-menu .menu-bar ul li a{padding:5px;}
	.read-logic a;width:200px; font-size: 18px;}
	.micrologic-home h2 {font-size: 17px;  min-height:40px; margin-left: 50px;}
	.app-icon{left:0;}
	.web-dev{left:0;}
	.web-design{left:0;}
	.social-sectn small{font-size:17px;}
	.ftr-menu ul li {font-size: 13px; color: #fff; margin-left: 8px;line-height: 13px;padding: 0 6px 0 0;margin-bottom: 15px;}
	.copyright span{font-size:14px;}
	.copyright small{font-size:14px;}
	.carousel-control{top:-35px!important;}

}


@media only screen and (max-width: 991px) {
	.header-menu .menu-bar ul li a{padding:5px;}
	.read-logic a{width:200px; font-size: 18px;}
	.micrologic-home h2 {font-size: 17px;text-align: center; min-height:40px; margin-left: 35px;}
	.app-icon{left:0;}
	.web-dev{left:0;}
	.web-design{left:0;}
	.social-sectn small{font-size:17px;}
	.ftr-menu ul li {font-size: 13px; color: #fff; margin-left: 8px;line-height: 13px;padding: 0 6px 0 0;margin-bottom: 15px;}
	.copyright span{font-size:14px;}
	.copyright small{font-size:14px;}

}
@media only screen and (max-width: 991px) {
		h1.text-uppercase.text-bold.text-white{font-size:20px!important; text-align:left;}
		.aboutUS-image img{width:100%;}	 


}


@media only screen and (max-width: 767px) {
	.header-menu .menu-bar {display: none;}
    .header-logo{float:none!important;text-align:center;}
	.header-logo img{display:inline-block; float:left;}
	.welcome-text h1{font-size:30px;}
	.welcome-text p{font-size:14px; line-height:25px;}
	.redmore-button a {padding-top: 12px; padding-bottom: 12px;width: 200px;margin: 36px auto 0px; font-size: 18px;}
	.whats-new h2 {text-align:center;}
	.app-icon {left: 44%; top: -46px;   width: 48px;height: 48px;}
	.web-dev {left: 44%; top: -46px;   width: 48px;height: 48px;}
	.web-design {left: 44%; top: -46px;   width: 48px;height: 48px;}
	.micrologic-home{margin:20px auto;}
	.social-sectn{text-align:center;}
	.social-sectn ul li img {margin-right: 23px; max-width: 100%; margin-bottom: 6px;float: none;text-align: center;}
.ftr-cntnt .social-sectn ul li {float: none; margin-bottom: 11px; width: 30%;text-align: left; margin: 10px auto;}
.ftr-cntnt .social-sectn li span { width: 30%; float: right;}
.social-services ul{margin:0; padding:0;}
.social-services li{width:100%!important; text-align:center!important; float:none!important; margin:10px auto;}
.ftr-menu{margin:15px auto;}
.copyright span {text-align: center; float: none; display: block;}
.slicknav_menu{display:block; position:absolute; top:0px; left:70px;}
.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #000; text-align:left; float:left; }
  
  .slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  background: #000;
   }

.welcome-text {
    width: 100%;
    float: left;
    text-align: center;
    margin: 15px auto 0;
}

.carousel-control.left { display:none;
}
.carousel-control.right{display:none;}
.carousel-indicators{ display:none;}


#example3 ul {list-style:none;}
			#example3 h3 {color:#fff;text-transform:uppercase;font-size:24px;}
			#example3 p {color:#fff;}
			#example3 .frame-1 {background: url(../images/slide/slide1.gif) top left repeat;}
			#example3 .frame-2 {background: url(../images/slide/slide2.gif) top left repeat;}
			#example3 .frame-3 {background: url(../images/slide/slide3.gif) top left repeat;}
			#example3 .frame-4 {background: url(../images/slide/slide4.gif) top left repeat;}
			#example3 .frame-content {width:100%;padding:100px 120px;}
			#example3 .frame-closed .frame-content {display:none;}
			#example3 .frame-open .frame-content {display:block;}
			.micrologic-home img{max-width:100%;width:100%;}
			.app-icon{top:-32px;}
			.micrologic-home h2{margin-left:0;}
			.ftr-menu ul li{float:none!important; display:inline-block!important; font-size:13px!important;line-height:12px; margin-left:15px;}
			.ftr-menu ul{margin: 0;padding: 0;width: 100%;float: left;text-align: center;}
			h1.text-uppercase.text-bold.text-white{font-size:20px; text-align:left;}
			.text-bold{text-align: center;margin: 20px auto; font-size:20px;}
			.aboutUS-text p{font-size: 13px; text-align: justify;}
			.aboutUS-image img{width:100%;}	 

}



@media only screen and (max-width: 479px) {
	
    .header-logo{float:none!important;text-align:center;}
	.header-logo img{display:inline-block; float:left;}
	.welcome-text h1{font-size:30px;}
	.welcome-text p{font-size:14px; line-height:25px;}
	.redmore-button a {padding-top: 12px; padding-bottom: 12px;width: 200px;margin: 36px auto 0px; font-size: 18px;}
	.whats-new h2 {text-align:center; width:100%;}
	.app-icon {left: 44%; top:8px;   width: 48px;height: 48px; font-size:20px;}
	.web-dev {left: 44%; top:8px;   width: 48px;height: 48px;}
	.web-design {left: 44%; top:8px;   width: 48px;height: 48px;}
	.micrologic-home{margin:20px auto;}
	.micrologic-home h2{padding-top: 45px;width:auto;text-align:center;}
	.social-sectn{text-align:center;}
	.social-sectn ul li img {margin-right: 23px; max-width: 100%; margin-bottom: 6px;float: none;text-align: center;}
	.ftr-cntnt .social-sectn ul li {float: none; margin-bottom: 11px; width: 30%;text-align: left; margin: 10px auto;}
	.ftr-cntnt .social-sectn li span { width: 30%; float: right;}
	.social-services ul{margin:0; padding:0;}
	.social-services li{width:100%!important; text-align:center!important; float:none!important; margin:10px auto;}
	.ftr-menu{margin:15px auto;}
	.copyright span {text-align: center; float: none; display: block;}
	.ftr-menu ul li{float:none!important; display:inline-block!important; font-size:12px!important;line-height:12px; margin-left:0; padding:0 5px 0 0;}
	.header-social{top:-10px;}
	.slicknav_nav li{width:100%; float:left;}
	h1.text-uppercase.text-bold.text-white{font-size:20px;}
	.text-bold{text-align: center;margin: 20px auto; font-size:20px;}
	.aboutUS-text p{font-size: 13px; text-align: justify;}

}



/* comapany css start here */

.company-abouts{width:100%; background: url(../images/about2.png) no-repeat; height:202px;   box-sizing:border-box; background-size:cover;}
.contact-header{width:100%; background:url(../images/contacts.png) no-repeat; height:202px;   box-sizing:border-box; background-size:cover;}
.company-services{width:100%; background: url(../images/services.png) no-repeat; height:202px;   box-sizing:border-box; background-size:cover;}
.red-line{width:5%; height:2px; background:#F00; margin-top:50px;}
ul.wrok-area{margin:0px; padding:0px; list-style:none; min-height:240px;}
ul.wrok-area li{display:block; position:relative;}
ul.wrok-area li a{background:url(../images/arrow.png) 0px 25px no-repeat; padding-left:30px; display:block; padding-top:15px; padding-bottom:15px; border-bottom:1px solid #CCC; text-decoration:none; color:#000;}
ul.wrok-area li a:hover{color:#ef3e24;}


ul.what-we-can{margin:0px; padding:0px; list-style:none;min-height:230px;}
ul.what-we-can li{display:block; position:relative;}
ul.what-we-can li a{background:url(../images/star.png) 0px 10px no-repeat; padding-left:30px; display:block; padding-top:5px; padding-bottom:5px;   text-decoration:none; color:#000;}
ul.what-we-can li a:hover{color:#ef3e24;}


/* contacts- css page start here */

.contacts-header{background:#151515 url(../images/contacts.png) no-repeat; height:202px;  width:auto;  box-sizing:border-box;}
.send{ margin-left:auto; margin-right:auto;}
button.send-button{border-radius:20px; width:40%; padding:15px; margin:0px auto;}
.header-image img{width:100%; height:100%; display:block; position: relative; z-index:-999;}
.header-title{position: relative; top:-220px;}
 
 



